body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background: #0d0d0d;
    color: white;
}

header {
    text-align: center;
    padding: 60px;
    background: linear-gradient(90deg, #00c6ff, #0072ff);
}

h1 {
    font-size: 45px;
}

nav {
    text-align: center;
    background: #111;
    padding: 10px;
}

nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #00c6ff;
}

section {
    padding: 40px;
}

.card {
    background: #1a1a1a;
    padding: 25px;
    margin: 20px 0;
    border-radius: 12px;
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.03);
    box-shadow: 0 0 20px #00c6ff;
}

button {
    padding: 12px 25px;
    background: #00c6ff;
    border: none;
    font-weight: bold;
    cursor: pointer;
}
